header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header-theme {
  background-color: black;
  color: white;
}

.header-text a, .header-text h1 {
  color: white;
}

@media (prefers-color-scheme: dark) {
  .header-theme {
    background-color: black;
    color: white;
  }
}

.font-heather {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

footer {
  position: relative;
  z-index: 2;
  background: #000;
}