html, body {
  height: auto;
  background: #000;
}

body {
    font-family: 'TikTok Sans', sans-serif;
    background: linear-gradient(24deg, #010a13, #22212f, #473545, #0a2036, #030f1c);
    background-size: cover;
    margin: 0;
    padding: 0;
}

#universe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
    pointer-events: none;
    display: block;
}

.price {
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
}

.price sup {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 0.3em;
  vertical-align: super;
}

.plan-title {
  margin-top: 2rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header-theme {
  background-color: black;
  color: white;
}

.header-text a, .header-text h1 {
  color: white;
}

@media (prefers-color-scheme: dark) {
  .header-theme {
    background-color: black;
    color: white;
  }
}

.font-heather {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

footer {
  position: relative;
  z-index: 2;
  background: #000;
}

#photos-welcome {
  position: relative;
  background: linear-gradient(24deg, #d2d6ef, #e1e5f0, #8cb7ca);
  padding: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.media-card {
  width: 250px;
  height: 280px;
  border-radius: 35px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: transform 0.3s;
}

.media-card:hover {
  transform: scale(1.05);
}

.media-card img,
.media-card video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

@media (max-width: 600px) {
  #unicorn-toy {
    width: 40px;
    height: 40px;
  }
}
#unicorn-toy {
    position: fixed;
    top: 50px;
    left: 50px;
    width: 80px;
    height: 80px;
    cursor: grab;
    z-index: 999;
}
