body {
  font-family: 'TikTok Sans', sans-serif;
  background: linear-gradient(24deg, #d2d6ef, #e1e5f0, #8cb7ca);
  background-attachment: fixed;
  background-size: cover;
  transition: background 0.2s ease;
}
.price {
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
}
.price sup {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 0.3em;
  vertical-align: super;
}
.plan-title {
  margin-top: 2rem;
}