#unicorn-toy {
  position: fixed;
  top: 50px;
  left: 50px;
  width: 80px;
  height: 80px;
  cursor: grab;
  z-index: 999;
  background-image: url(../../public/stickers/unicorn_1.gif);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 600px) {
  #unicorn-toy {
    width: 65px;
    height: 65px;
  }
}